.post-heading {
  margin: 0;
  border: none;
}

.post-profile-image {
  float: left;
  padding: 0;
}

.post-username {
  display: inline-block;
  margin-left: 10px;
  margin-top: 30px;
}

.post-footer {
  padding: 5px 10px;
  border: none;
  color: #868686;
}

.repost-well {
  margin-top: 10px;
  margin-bottom: 0;
}

#new-posts {
  cursor: pointer;
}
