.center-text {
  text-align: center;
}

.nav-profile-link {
  padding: 0 !important;
}

.user-info-container {
  margin-bottom: 0;
}

.follow-button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #7ecf7e;
  color: white;
  font-size: 20;
  text-align: center;
}
.follow-button.following {
  background-color: #7E98CF;
}
.follow-button:hover {
  color: white;
  background-color: #66AC66;
  text-decoration: none;
  border-bottom: 5px solid rgba(133, 133, 133, 0.64);
}
.follow-button:hover.following {
  background-color: #6B82B1;
}

.post-form-container input[type="text"] {
  width: 85%;
  float: left;
  border-radius: 4px 0 0 4px;
}
.post-form-container button {
  width: 15%;
  float: right;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

{
"version": 3,
"mappings": "AAAA,YACA;EACE,UAAU,EAAE,MAAM;;;AAGpB,iBACA;EACE,OAAO,EAAE,YAAY;;;AAEvB,oBACA;EACE,aAAa,EAAE,CAAC;;;AAElB,cACA;EACE,OAAO,EAAE,KAAK;EACd,KAAK,EAAE,IAAI;EACX,MAAM,EAAE,IAAI;EACZ,OAAO,EAAE,IAAI;EACb,UAAU,EAAE,OAAkB;EAC9B,KAAK,EAAE,KAAK;EACZ,SAAS,EAAE,EAAE;EACb,UAAU,EAAE,MAAM;;AAElB,wBACA;EACE,gBAAgB,EAAE,OAAO;;AAG3B,oBACA;EACE,KAAK,EAAE,KAAK;EACZ,gBAAgB,EAAE,OAAO;EACzB,eAAe,EAAE,IAAI;EACrB,aAAa,EAAE,mCAAmC;;AAChD,8BACA;EACE,gBAAgB,EAAE,OAAO;;;AAM/B,uCACA;EACE,KAAK,EAAE,GAAG;EACV,KAAK,EAAE,IAAI;EACX,aAAa,EAAE,WAAW;;AAE5B,2BACA;EACE,KAAK,EAAE,GAAG;EACV,KAAK,EAAE,KAAK;EACZ,aAAa,EAAE,WAAW;EAC1B,WAAW,EAAE,IAAI",
"sources": ["../main.scss"],
"names": [],
"file": "main.css"
}
.post-heading {
  margin: 0;
  border: none;
}

.post-profile-image {
  float: left;
  padding: 0;
}

.post-username {
  display: inline-block;
  margin-left: 10px;
  margin-top: 30px;
}

.post-footer {
  padding: 5px 10px;
  border: none;
  color: #868686;
}

.repost-well {
  margin-top: 10px;
  margin-bottom: 0;
}

#new-posts {
  cursor: pointer;
}

{
"version": 3,
"mappings": "AAIA,aACA;EACE,MAAM,EAAE,CAAC;EACT,MAAM,EAAE,IAAI;;;AAGd,mBACA;EACE,KAAK,EAAE,IAAI;EACX,OAAO,EAAE,CAAC;;;AAGZ,cACA;EACE,OAAO,EAAE,YAAY;EACrB,WAAW,EAAE,IAAI;EACjB,UAAU,EAAE,IAAI;;;AAGlB,YACA;EACE,OAAO,EAAE,QAAQ;EACjB,MAAM,EAAE,IAAI;EACZ,KAAK,EAAE,OAAkB;;;AAG3B,YACA;EACE,UAAU,EAAE,IAAI;EAChB,aAAa,EAAE,CAAC;;;AAGlB,UACA;EACE,MAAM,EAAE,OAAO",
"sources": ["../posts.scss"],
"names": [],
"file": "posts.css"
}
div.cover-image {
  width: 100%;
  position: fixed;
  text-align: center;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 30%;
  min-height: 300px;
  background-color: #CDCDCD;
}
div.cover-image img {
  margin: 0 auto;
  min-height: 100%;
  max-width: inherit !important;
}

div.profile-content {
  margin-top: 200px;
}

#profile-back {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1000px;
  margin-top: 250px;
  background-color: white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 20%);
  background: linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 20%);
}

{
"version": 3,
"mappings": "AAAA,eACA;EACE,KAAK,EAAE,IAAI;EACX,QAAQ,EAAE,KAAK;EACf,UAAU,EAAE,MAAM;EAClB,MAAM,EAAE,CAAC;EACT,GAAG,EAAE,CAAC;EACN,IAAI,EAAE,CAAC;EACP,KAAK,EAAE,CAAC;EACR,OAAO,EAAE,EAAE;EACX,MAAM,EAAE,GAAG;EACX,UAAU,EAAE,KAAK;EACjB,gBAAgB,EAAE,OAAO;;AAEzB,mBACA;EACE,MAAM,EAAE,MAAM;EACd,UAAU,EAAE,IAAI;EAChB,SAAS,EAAE,kBAAkB;;;AAIjC,mBACA;EACE,UAAU,EAAE,KAAK;;;AAGnB,aAAc;EACZ,QAAQ,EAAE,QAAQ;EAClB,IAAI,EAAE,CAAC;EACP,KAAK,EAAE,IAAI;EACX,MAAM,EAAE,MAAM;EACd,UAAU,EAAE,KAAK;EACjB,gBAAgB,EAAE,KAAK;EACvB,UAAU,EAAE,8DAA6D",
"sources": ["../user.scss"],
"names": [],
"file": "user.css"
}