.center-text {
  text-align: center;
}

.nav-profile-link {
  padding: 0 !important;
}

.user-info-container {
  margin-bottom: 0;
}

.follow-button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: #7ecf7e;
  color: white;
  font-size: 20;
  text-align: center;
}
.follow-button.following {
  background-color: #7E98CF;
}
.follow-button:hover {
  color: white;
  background-color: #66AC66;
  text-decoration: none;
  border-bottom: 5px solid rgba(133, 133, 133, 0.64);
}
.follow-button:hover.following {
  background-color: #6B82B1;
}

.post-form-container {
  margin-bottom: 5px;
}

.singular-form input[type="text"] {
  width: 85%;
  float: left;
  border-radius: 4px 0 0 4px;
}
.singular-form button {
  width: 15%;
  float: right;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 900;
}

#settings-view {
  z-index: 999;
  position: fixed;
  top: 52px;
  right: 0;
  height: 100%;
  width: 75%;
  max-width: 700px;
  background-color: rgba(231, 231, 231, 0.9);
}
#settings-view h1 .glyphicon {
  top: 5px;
}
#settings-view #settings-basic-view #color {
  width: 67px;
  height: 60px;
}

.post-heading {
  margin: 0;
  border: none;
}

.post-profile-image {
  float: left;
  padding: 0;
}

.post-username {
  display: inline-block;
  margin-left: 10px;
  margin-top: 30px;
}

.post-footer {
  padding: 5px 10px;
  border: none;
  color: #868686;
}

.repost-well {
  margin-top: 10px;
  margin-bottom: 0;
}

#new-posts {
  cursor: pointer;
}

div.cover-image {
  width: 100%;
  position: fixed;
  text-align: center;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 30%;
  min-height: 300px;
  background-color: #CDCDCD;
}
div.cover-image img {
  margin: 0 auto;
  min-height: 100%;
  max-width: inherit !important;
}

div.profile-content {
  margin-top: 200px;
}

#profile-back {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1000px;
  margin-top: 250px;
  background-color: white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 20%);
  background: linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 20%);
}
