<div class="row col-md-4">
	<div id="user">
	</div>
	<form role="form" action="#">
		<div class="post-form-container">
			<input type="text" name="text" id="text" class="form-control" placeholder="Enter new post...">
			<button class="btn btn-default pull-right" id="add">Post</button>
	    </div>
	</form>
	<div class="clearfix"></div>
</div>
<div class="row col-md-1"></div>
<div class="row col-md-6">
	<div id="posts">
		<div class="postContainer">
		</div>
	</div>
	<a id="loadMore" class="hidden">
		<div class="center-text well well-sm">
			Load more...
		</div>
	</a>
</div>