<div class="row col-md-4">
	<div class="post-form-container singular-form row">
		<input type="text" name="text" id="text" class="form-control" placeholder="Enter new post...">
		<button class="btn btn-default pull-right" id="add">Post</button>
    </div>
	<div id="user" class="row">
	</div>
</div>
<div class="row col-md-1"></div>
<div class="row col-md-6">
	<div id="posts">
		<div class="postContainer">
		</div>
	</div>
	<a id="loadMore" class="hidden">
		<div class="center-text well well-sm">
			Load more...
		</div>
	</a>
</div>