<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h1><span class="glyphicon glyphicon-cog"></span> Settings</h1>
		<div class="panel-group" id="settings-accordian" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading-settings-basic" data-toggle="collapse" data-parent="#settings-accordian" href="#collapse-settings-basic" aria-expanded="true" aria-controls="collapse-settings-basic">
				  <h4 class="panel-title">
				      Basic
				  </h4>
				</div>
				<div id="collapse-settings-basic" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-settings-basic">
				  <div class="panel-body settings-basic-container">
				  </div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="heading-settings-user" data-toggle="collapse" data-parent="#settings-accordian" href="#collapse-settings-user" aria-expanded="false" aria-controls="collapse-settings-user">
			  		<h4 class="panel-title">
				    	User
				  	</h4>
				</div>
				<div id="collapse-settings-user" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-settings-user">
				  <div class="panel-body settings-user-container">
				  </div>
				</div>
			</div>
		</div>	
	</div>
</div>
