<form role="form">
  <div class="form-group">
    <label for="firstName">First</label>
    <input class="form-control" id="firstName" type="text" value="<%= firstName %>">
  </div>
  <div class="form-group">
    <label for="lastName">Last</label>
    <input class="form-control" id="lastName" type="text" value="<%= lastName %>">
  </div>
  <div class="form-group">
    <label for="userName">Username</label>
    <input class="form-control" id="userName" type="text" value="<%= userName %>">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" id="email" type="email" value="<%= email %>">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" id="password" type="password" placeholder="password">
    <input class="form-control" id="password" type="password" placeholder="confirm password">
  </div>
  <button class="btn btn-success save">Save</button>
</form>