<div class="panel panel-default">
	<div class="panel-heading">
		<img src="http://fillmurray.com/100/100" alt="Profile Image" class="img-circle" height="100" width="100">
		<%= userName %>
	</div>
	<div class="panel-body">
	    <div class="row">
		   <!--  <div class="col-md-4 center-text">
		        Posts
		        <br>
		        <span class="badge center-block">{{$user->posts->count()}}</span>
            </div>
		    <div class="col-md-4 center-text">
                Followers
                <br>
                <span class="badge center-block">{{$user->followers->count()}}</span>
            </div>
		    <div class="col-md-4 center-text">
                Following
                <br>
                <span class="badge center-block">{{$user->following->count()}}</span>
            </div> -->
        </div>
        <br>
        <small>Bio:</small>
		<div class="well user-info-container">
			<%= settings.bio %>
		</div>
		<br>
		<small>Location:</small>
		<br>
		<%= settings.location %>
		<br>
		<small>Website:</small>
		<br>
		<a href="<%= settings.url %>"><%= settings.url %></a>
	</div>
</div>